/*Font Ambil dari Google -KE*/

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes nav-before-animation {
    from{background-color: rgb(39, 171, 39);}
    to{background-color: transparent;}
}

@keyframes nav-after-animation {
    from{background-color: transparent;}
    to{background-color: rgb(39, 171, 39);}
}

@keyframes pop-block-animation {
    from{transform: translateY(-20px);visibility: hidden;}
    to{transform: translateY(0px);visibility: unset;}
}

@keyframes pop-hide-animation {
    from{background-color: white;transform: translateY(0px);visibility: unset;}
    to{background-color: transparent;transform: translateY(-20px);visibility: hidden;}
}

@keyframes mobile-nav-show-animation {
    from{transform: translateX(100%);}
    to{transform: translateX(0%);}
}

@keyframes mobile-nav-hide-animation {
    from{transform: translateX(0%);}
    to{transform: translateX(100%);}
}



.nav-before{
    animation-name: nav-before-animation;
    animation-timing-function: linear;
    animation-duration: 300ms;
    background-color: transparent;
}

.nav-after{
    animation-name: nav-after-animation;
    animation-timing-function: linear;
    animation-duration: 300ms;
    background-color: rgb(39, 171, 39);
}

.pop-hide{
    visibility: hidden;
    animation-name: pop-hide-animation;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}

.pop-block{
    visibility: unset;
    animation-name: pop-block-animation;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}

nav{
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 2;

}
nav div{
    vertical-align: middle;
}
nav img{
    vertical-align: middle;

}

#right-side{
    color: white;
    display: flex;
    margin-right: 15px;
}

#right-side a{
    text-decoration: none;
    color: white;
}

/*TODO IMPORTANT*/
body{
    font-family: 'Titillium Web';
}

#right-side div{
    padding: 7px 7px;
    font-size: 14px;
    
    box-sizing: border-box;
    overflow: hidden;
}

#right-side .wrapper{
    border-bottom: 3px solid transparent;
    cursor: pointer;

}

#right-side .wrapper:hover{
   border-bottom: 3px solid white;
}

input{
    cursor: text;
    background-color: blue;
}

.child-wrapper{
    /* display: none; */
    position: absolute;
    margin-left: -50px;
    width: 100%;
    color: black;
    border-radius: 5px;
    z-index: 2;
    background-color: white;
    margin-top: 18px;
    visibility: hidden;
    border: 1px solid darkgrey;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}

#cari-wrapper{
    width: 15%;
    margin-left: -10px;
}

#masuk-title{
    box-sizing: border-box;
    padding:0 0 !important;
    display: block; 
}

.child-wrapper div{
    position: relative;
}

.child-wrapper div:hover{
    background-color: lightslategray;
}

.mobile-only-show{
    display: none;
}
#mobile-button{
    display: none;
}

@media only screen and (max-width: 600px) {
    nav{
        height: 100%;

        font-weight: bolder;
    }
    nav img{
        height: 60px;
        width: 50px !important;
        background-position: left !important;
        background-size: unset !important;
    }

    #right-side{
        flex-direction: column;
        background-color: white;
        color: black;
        padding: 10px;
        width: 50%;
        margin-right: 0;
        height: 100%;

    }
    #right-side span{
        left: 0;
    }

    #right-side div{
        color: black;
        left: 0px;
        padding-left: 0 !important;
        padding-top: 0 ;
        padding-right: 0 !important;
        padding-bottom: 0 ;
        width: 100%;
    }

    #right-side a{
        padding-left: 0!important;
        position: relative;
    }

    .child-wrapper{
        display: block;
        visibility: unset;
        position: relative;
        width: 100px;
        box-sizing: border-box;
        margin: 0 0;
        border-radius: unset !important;
    }
    .child-wrapper div{
        color: black;
        width: 100%;
    }

    .pop-hide{
        visibility: unset ;
        animation:none;
     }
    .pop-block{
        visibility: unset ;
        animation:none;
    }
    #cari-wrapper{
        width: 100%;
        margin-left: 0px;
    }
    #masuk-title{
        display: none;
    }
    .wrapper {
        border-bottom: 0px !important;
    }

    .mobile-nav-item{
        padding-top: 5px !important;
        padding-bottom: 20px!important;
        border-bottom: 1px solid #bfbfbf !important;
        margin-top: 10px;
        text-transform: uppercase;
        background-color: white;
    }
    .child-wrapper div:hover{
        background-color: white;
    }
    nav div,input,
     textarea,
     button,
     select,
     a{
         -webkit-tap-highlight-color: transparent;
     }
    nav div div:hover{
        color: green !important;
    }

    .mobile-nav-item:hover{
        margin-bottom: 10px !important;
    }
    .mobile-only-show{
        display: inline-block;

    }
    #mobile-button{
        display: flex;
        background-color: transparent;
        border: none;
        flex-direction: column;
        justify-content: space-between;
        margin: 3px 0;
        padding: 11px 12px;
        box-sizing: unset;
        margin-right: -15px;
    }

    #mobile-button:focus{
        outline:0;
    }

    .mobile-hide{
        animation-name: mobile-nav-hide-animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .mobile-show{
        animation-name: mobile-nav-show-animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .hide-on-mobile{
        display: none !important;
    }

}





